* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-size: 1rem;
    outline: none;
}
.navbar {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.header__text {
    font-size: 16px;
    font-family: Poppins;
}
.btn__main {
    font-family: Roboto;
}

.page__header {
    margin-top: 5rem;
    font-size: 1.2rem;
    color: #fff;
}

.hero__bg {
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.navbar-nav .nav-item .nav-link {
    padding-right: 30px;
    color: #fff;
}

.btn-success {
    padding: 8px 28px;
    border-radius: 4.5rem;
}

.text__content {
    font-family: Poppins;
}
.text__content h1 {
 font-weight: bold;
font-size: 48px;
line-height: 70px;
}
.text__content h6 {
    color: #FD511A;
    font-weight: 400;
}

.span__text {
    color: #21B573;
}


#portfolio__section {
    padding-bottom: 50px;
}
#portfolio__section h4{
    line-height: 3rem;
}
.portfolio {
    align-items: center;
    justify-content: center;
}

#service__section {
    padding-bottom: 85px;
}
#service__section p {
    margin-left: 5px;
}


.middle__text h1{
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Poppins;
    font-weight: 700;
    color: #413960;
    line-height: 1;
    letter-spacing: 0.5px;
    font-size: 34px;
}
.middle__text h1::before {
    content: '';
    width: 80px;
    height: 3px;
    background: #f91942;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.portfolio p {
 margin-top: -14px;
}
.card {
    margin-top: 50px;
}
.card__item {
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
}
.box {
    height: 270px;
    text-align: center;
    padding: 50px 50px;
    background-color: #f0fff0;
}
.box:hover {
    background-color: #fff;
    background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.content h4 {
    font-size: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: -12px;
}

/* Start Testimonials */
.testimonial__middle__text h1 {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Poppins;
    font-weight: 700;
    color: #413960;
    line-height: 1;
    letter-spacing: 0.5px;
    font-size: 34px;
}
.testimonial__middle__text h1::before {
    content: '';
    width: 80px;
    height: 3px;
    background: #f91942;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.t__text {
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
    margin-top: 20px;
    font-family: Poppins;
}


#footer__section{
    background: #282531;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 80px;
    font-family: Poppins;
}
.foo__text {
    font-size: .9rem;
    text-align: center;
}
.foo__para p{
    font-size: 16px;
    line-height: 30px;
}

.useful__link ul{
    list-style: none;
}
.useful__link ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 13px;
    font-weight: 400;
}
.terms {
    color: #fff;
    line-height: 18px;
}
.course {
    color: #fff;
    line-height: 18px;
}
.useful {
    color: #fff;
    line-height: 18px;
}

/* Responsive Design */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { 
    .text__content {
        text-align: center;
    }

    .text__content h1 {
        font-size: 2rem;
        line-height: 1.5;
    }

    .card {
        text-align: center;
    }
    .man {
        width: 100%;
        margin-left: 20px;
        align-items: center;
    }
 }
