* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    font-size: 1rem;
    outline: none;
}
.navbar {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.page__header {
    margin-top: 5rem;
    font-size: 1.2rem;
    color: #fff;
}

.hero__bg {
 background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.navbar-nav .nav-item .nav-link {
    padding-right: 30px;
    color: #fff;
}

.btn-success {
    padding: 8px 28px;
    border-radius: 4.5rem;
}

.text__content {
    font-family: Poppins;
}
.text__content h1 {
 font-weight: bold;
font-size: 48px;
line-height: 70px;
}
.text__content h6 {
    color: #FD511A;
    font-weight: 400;
}

.span__text {
    color: #21B573;
}


#portfolio__section {
    padding-bottom: 50px;
}
#portfolio__section h4{
    line-height: 3rem;
}
.portfolio {
    align-items: center;
    justify-content: center;
}

#service__section {
    padding-bottom: 85px;
}


.middle__text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.portfolio p {
 margin-top: -14px;
}
.card__item {
    background-color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
}
.box {
    height: 270px;
    text-align: center;
    padding: 50px 50px;
    background-color: #f0fff0;
   
   
}
.box:hover {
    background-color: #fff;
    background: #FFFFFF;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.content h4 {
    font-size: 20px;
    margin-top: 10px;
}
.content p {
    margin-top: -12px;
}



#footer__section{
    background: #282531;
    padding-top: 50px;
    padding-bottom: 50px;
}

.useful__link ul{
    list-style: none;
}
.useful__link ul li a {
    text-decoration: none;
    color: #fff;
}